.search-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.loader-button-wrapper{
    display: flex;
    justify-content: center;
   margin-top: 2rem;
}

 
